body {
  background-color: #5577ee;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

input, select {
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
  width: 30%;
}

table {
  width: 100%;
}

thead {
  background-color: #ffffff;
  color: #5577ee;
  font-weight: bold;
}

.button {
  border: 5px outset #3355cc;
  background: #3355cc;
  text-decoration: none;
  border-radius: 20px;
}

.button:hover {
  box-shadow: 3px 3px 5px 0 #3355cc;
  cursor: pointer;
}

.button:active {
  background-color: #33aadd;
}

.block { display: block; }

#testbed { display: none; }

#answers {
  padding: 50px;
}

#answers span {
  margin: 15px;
  padding: 10px;
}
